<div class="vin-pager">
    <div class="container">
        <article class="vin-pager-wrapper row">
            <nav>
                <span class="vin-pager-item vin-pager-item--navigable"
                      id="Previous"
                      [ngClass]="{'is-disabled': buttonStates?.previousDisabled}"
                      (click)="onPreviousCliked($event)"
                      aria-label="Previous">
                    Previous
                </span>

                <span class="vin-pager-item">
                    Showing {{model?.items}} of {{model?.totalItems}} products - Page {{model?.actualPage + 1}} - {{model?.totalPages}}
                </span>

                <span class="vin-pager-item vin-pager-item--navigable"
                      id="Next"
                      [ngClass]="{'is-disabled': buttonStates?.nextDisabled}"
                      (click)="onNextClicked($event)"
                      aria-label="Next">
                    Next
                </span>
            </nav>
        </article>
    </div>
</div>
